.linkBack {
  display: flex;
  gap: 7px;
  align-items: center;
}

.container {
  width: 1440px;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
}

.filmCard {
  padding-top: 10px;
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.imgBox {
  min-width: 360px;
  min-height: 480px;
}

.imgBox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
}

.title {
  font-size: 44px;
}

.overview {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

.list {
  margin: 40px 0px;
  display: flex;
  flex-direction: row;
  gap: 40px;
}

.item span {
  text-decoration: underline;
}

.genresList {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 22px;
  margin-bottom: 40px;
}

.companyList {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-top: 22px;
  margin-bottom: 40px;
}

.subTitle {
  font-size: 28px;
}

.nav {
  display: flex;
  flex-direction: row;
  gap: 15px;
}

.strong {
  font-size: 28px;
}

.link {
  font-size: 22px;
  text-decoration: none;
  color: white;
}

.isActive {
  text-decoration: underline;
  color: red;
}
